#container {
  position: absolute;
  width: 405px;
  height: 673px;
}



.headerbar-wrapper {
  height: 0.5rem;
  background: #d43d3d;
}


.df-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.headerbar-wrapper .logo {
    width: 1.3rem;
    height: 100%;
}
.df-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerbar-wrapper .logo img {
  width: 1rem;
}



.headerbar-wrapper .search {
    width: calc(100% - 1.3rem);
    position: relative;
    color: #666;
}

.headerbar-wrapper .search .search-icon {
  position: absolute;
  left: 0.06rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.headerbar-wrapper .search .ant-select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 90%;
  height: 0.3rem;
  border: none;
  outline: none;
  background: #f4f4f4;
  text-indent: 0.3rem;
  border-radius: 0.04rem;
}


.search .searchicon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transform: translate(-190px, 0px) !important;
}

.search .ant-select-selector .ant-select-clear {
  transform: translate(-40px, 0px);
  position: absolute;
  top: 50%;
  right: 11px;
  z-index: 1;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  background: #fff;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: color 0.3s ease, opacity 0.15s ease;
  transition: color 0.3s ease, opacity 0.15s ease;
  text-rendering: auto;
}
.search .anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(-60px, 0px);
}